<!DOCTYPE html>
<html>
<head>
  {% load i18n %}
  <title>
    {% block title %}Ascent Jet{% endblock %}
  </title>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="csrf_token" id="token" data-content="{{ csrf_token }}">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  {% if DEBUG %}
  <script src="//localhost:35729/livereload.js"></script>
  {% endif %}
  <link rel="stylesheet" href="{{ STATIC_URL }}styles/app.css">
  <!-- <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/51456/AscentJet/style.css"> -->
  <!-- <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/51456/AscentJet/style.css?-nl2k0u"> -->
  <link rel="stylesheet" href="http://i.icomoon.io/public/fd2a23abe4/AscentJet/style.css">
  <script src="//use.typekit.net/blb8bgc.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://pilot.datatrans.biz/upp/payment/js/datatrans-1.0.0.js"></script>
  {% block extra_head %}{% endblock %}
  <link rel="shortcut icon" type="image/x-icon" href="/media/static/images/favicon.ico">

  {% block javascripts %}
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places"></script>
  <script src="{{ STATIC_URL }}scripts/lib.js"></script>
  <script src="https://pilot.datatrans.biz/upp/payment/js/datatrans-1.0.2.js"></script>
  <script src="{{ STATIC_URL }}scripts/anapp.js"></script>
  <script src="{{ STATIC_URL }}scripts/services.js"></script>
  <script src="{{ STATIC_URL }}scripts/controllers.js"></script>
  {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %} {{ LANGUAGE_CODE }}" ng-app="ascentApp" data-basepath="{{ STATIC_URL }}">

  <nav class="mobile-nav">
    {% if navigation %}
      <ul>
        <li><a href="/">Home page</a></li>
      {% for n in navigation %}
          <li {% if n.slug in request.path %}class="active"{% endif %}>
              {% if n.get_children %}
                <span class="action"></span>
                <a href="/{{ n.get_children.0.slug }}">{{ n }}</a>
              {% else %}
                <a href="/{{ n.slug }}">{{ n }}</a>
              {% endif %}
              {% if n.get_children %}
                <ul>
                  {% for c in n.get_children %}
                      <li><a href="/{{ c.slug }}">{{ c }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
          </li>
      {% endfor %}
      </ul>
    {% endif %}
  </nav>
  <div id="top" class="page-wrap">
    <header>
      <div class="toolbar">
        <div class="container">
          <div class="contact">
            <ul>
              <li><span class="icon icon-mail"></span><a href="mailto:info@ascentjet.com">info@ascentjet.com</a></li>
              <li><span class="icon icon-phone"></span>+41 22 366 42 05</li>
            </ul>
          </div>
          <div class="user" ng-controller="LoginController">
            <ul ng-show="showLogin == true" ng-cloak>
              <li><a href="#" class="login">Login <span class="icon icon-down"></span></a></li>
              <li class="login-form">
                <form class="top-login" name="loginForm" ng-submit="create(loginForm.$valid)" autocomplete="off" novalidate>
                  <h3>Login to your account</h3>
                  <p>
                    <input type="text" name="userName" ng-model="login.userName" placeholder="Email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required=""/>
                    <div ng-show="submitted && loginForm.userName.$invalid" class="alert alert-danger error-message">
                      <div ng-show="loginForm.userName.$error.required">
                        * E-mail is required! Please enter a valid email address.
                      </div>
                    </div>
                  </p>
                  <p>
                    <input type="password" name="password" ng-model="login.password" placeholder="Password" required=""/>
                    <div ng-show="submitted && loginForm.password.$invalid" class="alert alert-danger error-message">
                      <div ng-show="loginForm.password.$error.required">
                        * Password is required!
                      </div>
                    </div>
                  </p>
                  <p>
                    <button type="submit" class="btn" ng-click="submitted=true">Login</button> <a href="/account/#/password" class="right">Forgot your password?</a>
                  </p>
                </form>
                <p>
                  Don't have an account? <a href="/account/#/new" class="right">Create Account</a>
                </p>
              </li>
            </ul>
            <ul ng-show="showLogin == false" ng-cloak>
              <li><a href="#" class="login">[[ userMail ]] <span class="icon icon-down"></span></a></li>
              <li class="login-form loged">
                <a href="/flights/requests/">My bookings and requests</a><br>
                <a href="/profile/#/edit">My account</a><br>
                <a href="#" ng-click="logout();">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <nav class="main" id="fixed-top">
        <div class="container">
          <a href="#" class="menu-trigger">
            <span></span>
            <span></span>
            <span></span>
          </a>
          {% if navigation %}
            <ul class="st-menu st-effect-4" id="menu">
            {% for n in navigation %}
                <li {% if n.slug in request.path %}class="active"{% endif %}>
                    <!-- Redirect root nodes to children nodes -->
                    {% if n.get_children %}
                      <a href="/{{ n.get_children.0.slug }}">{{ n }}</a>
                    {% else %}
                      <a href="/{{ n.slug }}">{{ n }}</a>
                    {% endif %}
                    <!-- {% if n.get_children %}
                      <ul>
                        {% for c in n.get_children %}
                            <li><a href="/{{ c.slug }}">{{ c }}</a></li>
                        {% endfor %}
                      </ul>
                    {% endif %} -->
                </li>
            {% endfor %}
            </ul>
          {% endif %}
          <h1>
            <a href="/#/" class="icon-logo"><span>Ascent Jet</span></a>
          </h1>
        </div>
      </nav>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
      <section class="image both top-white">
        <div class="container">
          <nav>
            {% for f in footer %}
              <ul>
                <li>
                  {{ f }}
                  {% if f.sorted_node_set.all %}
                  <ul>
                    {% for c in f.sorted_node_set.all %}
                      <li {% if c.slug in request.path %}class="active"{% endif %}><a href="/{{ c.slug }}">{{ c }}</a><li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </li>
              </ul>
            {% endfor %}
          </nav>
          <div class="info">
            <h3>{{ snippets.8.title }}</h3>
            <p>
              {{ snippets.8.body }}
            </p>
            <div class="phones">
              <div>
                <div class="large">
                  <span class="icon icon-phone"></span><a href="tel:{{ snippets.9.title }}">{{ snippets.9.title }}</a>
                </div>
                {{ snippets.9.body }}
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bottom">
        <div class="container clearfix">
          <div class="copyright">
            <a href="/legal/introduction/">Legal</a> <span class="separator">/</span> Copyright 2015 Ascent Jet. All rights received
          </div>
          <div class="cards">
            <span class="icons icons-visa"></span>
            <span class="icons icons-amex"></span>
            <span class="icons icons-master"></span>
          </div>
        </div>
      </section>
    </footer>

    <div id="cookie" class="cookie">
      <div class="container clearfix">
        <p>
          By continuing to use ascentjet.com you will be agreeing to the website <a href="/legal/privacy-policy/">Privacy policy</a> and <a href="/legal/cookies-policy/">Use of Cookies</a>
        </p>
        <button type="button" class="btn cookie" name="button">Continue</button>
      </div>
    </div>

  </div>
  <script src="{{ STATIC_URL }}scripts/app.min.js"></script>
</body>
</html>
