<div class="details-content">
  <div class="header">
    <h2>
      Booking flight
    </h2>
    <div class="sidebar">
    </div>
    <div class="main">
      <div class="lead">
        <h4>Payment successfull</h4>
        <p>
          Your paymnet was successfull.
        </p><br>
        <a href="/flights/requests/[[ requestId ]]/" class="btn">View booking</a>
      </div>
    </div>
  </div>
  <div class="last-skew white"></div>
</div>
